language: swift
os: osx
osx_image: xcode9.1
xcode_sdk: iphonesimulator11.1

branches:
 only:
 - travis-integration

before_install:
- brew update
- brew install carthage
- cd Demo
- carthage update --platform iOS
- cd ..

script:
- xcodebuild clean build test -workspace PlayerControls.xcworkspace -scheme Demo -destination 'platform=Simulator,name=iPad Pro (12.9-inch),OS=11.1'
