language: swift
os: osx
osx_image: xcode9.1
xcode_sdk: iphonesimulator11.1

branches:
 only:
 - travis-integration

before_install:
- brew update
- brew install carthage
- cd Demo
- carthage update --platform iOS

script:
- fastlane verify
