language: swift
os: osx
osx_image: xcode9.1
xcode_workspace: PlayerControls

branches:
 only:
 - travis-integration

before_install:
- brew update
- brew install carthage
- cd Demo
- carthage update --platform iOS
- cd ..
- brew cask install fastlane

script:
- fastlane verify
